<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gyu-Kaku Vietnam</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
    <header>
        <div class="logo">
            <img src="https://as1.ftcdn.net/v2/jpg/03/29/18/20/1000_F_329182042_cihu9PzMOjZdBHCcRKAhn20ElztFoPkH.jpg"
                alt="Logo" />
            <span>BBQ</span>
        </div>
        <nav>
            <a href="#" class="btn">Đặt Bàn</a>
            <a href="#">Về chúng tôi</a>
            <a href="#">Menu</a>
            <a href="#">Nhà hàng</a>
            <a href="#">Khuyến mãi</a>
        </nav>
    </header>

    <section class="hero">
        <img src="https://as1.ftcdn.net/v2/jpg/09/88/44/74/1000_F_988447479_ZnTxfAXWeZzLqD9pqb7YCdmy78rEKRV5.jpg"
            alt="Buffet Banner" />
    </section>

    <section class="promo flex-section">
        <div class="flex-2">
            <img src="https://t4.ftcdn.net/jpg/12/44/41/03/240_F_1244410345_l2VI5X78wAzmsvfvze7wjjZP5OSYljRp.jpg"
                alt="Combo ưu đãi" />
        </div>
        <div class="flex-2">
            <img src="https://t3.ftcdn.net/jpg/15/32/68/56/240_F_1532685611_Dux5o9CkZ66E8S19EvD2ImeEXoqWN7uV.jpg"
                alt="Buffet ưu đãi" />
        </div>
    </section>

    <section class="voucher">
        <img src="https://t3.ftcdn.net/jpg/11/74/51/40/240_F_1174514099_t5WIb0uwe7ro8XRU2wvbLjEkZYjLmEdL.jpg"
            alt="Voucher giảm giá" />
    </section>

    <section class="bento flex-section">
        <div class="flex-2">
            <img src="https://t3.ftcdn.net/jpg/02/13/84/68/240_F_213846833_inPSlcfVwJMQBY0xR7aTqQ8SCeGqmavL.jpg"
                alt="Bento giao tận nơi" />
        </div>
        <div class="flex-2">
            <h2>Gọi LGBBQ Ngay – Ship Tận Tay</h2>
            <p>
                Gọi món dễ dàng – Giao tận nơi – Đúng vị Nhật Bản. LGBBQ mang đến trải nghiệm nướng tại nhà tiện lợi với
                Bento thơm ngon và thịt chất lượng. Giao nhanh khu vực HN và HCM.
            </p>
            <a href="#" class="btn-menu">Xem Menu →</a>
        </div>
    </section>

    <section class="meat-menu">
        <div class="menu-grid">
            <div>
                <img src="https://gyu-kaku.com.vn/storage/category-product/16_1745314078.webp" alt="Menu Combo" />
                <h4>Menu Combo</h4>
            </div>
            <div>
                <img src="https://gyu-kaku.com.vn/storage/category-product/15_1745314060.webp" alt="Menu Lẩu" />
                <h4>Menu Combo</h4>
            </div>
            <div>
                <img src="https://gyu-kaku.com.vn/storage/category-product/news_1677577148.app_1080_315980752_598573072269912_1655250091425398318_n_1745546034.webp"
                    alt="Menu Gọi Món" />
                <h4>Menu Gọi Món</h4>
            </div>
        </div>
    </section>

    {{!-- <footer class="footer">
        <p><strong>CÁC THƯƠNG HIỆU DO CÔNG TY LQBBG VIỆT NAM</strong></p>
        <div class="flex-section">
            <div class="flex-2">
                <p><strong>CHI NHÁNH HÀ NỘI</strong>
                    <br /> Tầng 6 số 5 Láng Hạ, Ba Đình, HN
                    <br /> 120 Yên Lãng, Đống Đa, HN
                </p>
            </div>
        </div>
        <p><strong>ĐƠN VỊ PHỤ TRÁCH:</strong> LGBBQ VIỆT NAM</p>
    </footer> --}}
</body>

</html>