<link rel="stylesheet" href="/css/menu.css">
{{!-- bang menu --}}
<div id="introduce">
    <h1>khu vực: Hà Nội -- Miền Bắc</h1>
</div>
<div id="container">
    <div class="card">
        <img src="https://ipos.vn/wp-content/uploads/2022/10/CHUP-ANH-DO-AN.png" alt="anh do an" class="image-menu">
        <h1 class="text-menu">thit bo</h1>
        <p class="text-menu">nhap khau tu uc sang viet nam</p>
    </div>
    <div class="card">
        <img src="https://ipos.vn/wp-content/uploads/2022/10/CHUP-ANH-DO-AN.png" alt="anh do an" class="image-menu">
        <h1 class="text-menu">thit bo</h1>
        <p class="text-menu">nhap khau tu uc sang viet nam</p>
    </div>
    <div class="card">
        <img src="https://ipos.vn/wp-content/uploads/2022/10/CHUP-ANH-DO-AN.png" alt="anh do an" class="image-menu">
        <h1 class="text-menu">thit bo</h1>
        <p class="text-menu">nhap khau tu uc sang viet nam</p>
    </div>
    <div class="card">
        <img src="https://ipos.vn/wp-content/uploads/2022/10/CHUP-ANH-DO-AN.png" alt="anh do an" class="image-menu">
        <h1 class="text-menu">thit bo</h1>
        <p class="text-menu">nhap khau tu uc sang viet nam</p>
    </div>
    <div class="card">
        <img src="https://ipos.vn/wp-content/uploads/2022/10/CHUP-ANH-DO-AN.png" alt="anh do an" class="image-menu">
        <h1 class="text-menu">thit bo</h1>
        <p class="text-menu">nhap khau tu uc sang viet nam</p>
    </div>
    <div class="card">
        <img src="https://ipos.vn/wp-content/uploads/2022/10/CHUP-ANH-DO-AN.png" alt="anh do an" class="image-menu">
        <h1 class="text-menu">thit bo</h1>
        <p class="text-menu">nhap khau tu uc sang viet nam</p>
    </div><div class="card">
        <img src="https://ipos.vn/wp-content/uploads/2022/10/CHUP-ANH-DO-AN.png" alt="anh do an" class="image-menu">
        <h1 class="text-menu">thit bo</h1>
        <p class="text-menu">nhap khau tu uc sang viet nam</p>
    </div>
    <div class="card">
        <img src="https://ipos.vn/wp-content/uploads/2022/10/CHUP-ANH-DO-AN.png" alt="anh do an" class="image-menu">
        <h1 class="text-menu">thit bo</h1>
        <p class="text-menu">nhap khau tu uc sang viet nam</p>
    </div>
    <div class="card">
        <img src="https://ipos.vn/wp-content/uploads/2022/10/CHUP-ANH-DO-AN.png" alt="anh do an" class="image-menu">
        <h1 class="text-menu">thit bo</h1>
        <p class="text-menu">nhap khau tu uc sang viet nam</p>
    </div>
    <div class="card">
        <img src="https://ipos.vn/wp-content/uploads/2022/10/CHUP-ANH-DO-AN.png" alt="anh do an" class="image-menu">
        <h1 class="text-menu">thit bo</h1>
        <p class="text-menu">nhap khau tu uc sang viet nam</p>
    </div>
    <div class="card">
        <img src="https://ipos.vn/wp-content/uploads/2022/10/CHUP-ANH-DO-AN.png" alt="anh do an" class="image-menu">
        <h1 class="text-menu">thit bo</h1>
        <p class="text-menu">nhap khau tu uc sang viet nam</p>
    </div>
</div>