<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Trang có React</title>
</head>
<body>
  <!-- Mount point cho React -->
  <div id="root"></div>

  <!-- Nhúng React bundle (đã build) -->
  <script type="module" src="/react/assets/index-DK-xQhXp.js"></script>
</body>
</html>
