<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gyu-Kaku Vietnam</title>
    <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
    <header>
        <div class="logo">
            <img src="https://as1.ftcdn.net/v2/jpg/03/29/18/20/1000_F_329182042_cihu9PzMOjZdBHCcRKAhn20ElztFoPkH.jpg"
                alt="Logo" />
            <span>BBQ</span>
        </div>
        <nav>
            <a href="#" class="btn">Đặt Bàn</a>
            <a href="#">Về chúng tôi</a>
            <a href="#">Menu</a>
            <a href="#">Nhà hàng</a>
            <a href="#">Khuyến mãi</a>
        </nav>
    </header>
    {{{body}}}

    <footer class="footer">
        <p><strong>CÁC THƯƠNG HIỆU DO CÔNG TY LQBBG VIỆT NAM</strong></p>
        <div class="flex-section">
            <div class="flex-2">
                <p><strong>CHI NHÁNH HÀ NỘI</strong>
                    <br /> Tầng 6 số 5 Láng Hạ, Ba Đình, HN
                    <br /> 120 Yên Lãng, Đống Đa, HN
                </p>
            </div>
        </div>
        <p><strong>ĐƠN VỊ PHỤ TRÁCH:</strong> LGBBQ VIỆT NAM</p>
    </footer>
</body>

</html>